---
---

<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>

    <title>{{site.data.settings.title}}</title>

    <meta charset = "UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel = "stylesheet" type = "text/css" href = "css/main.css" />
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type = "text/javascript" src = "../js/functions.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

{% include header.html %}
{% include about.html %}
{% include work.html %}
{% include clients.html %}
{% include contact.html %}
{% include send.html %}
{% include footer.html %}
</body>

</html>
