<section>
<h3>Обо мне</h3>

<div class="face-lockup">
 <div class="face-img"></div>
 <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
 <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
 <div class="icon-browser">{% include icons/icon-browser.html %}</div>
 <div class="icon-video">{% include icons/icon-video.html %}</div>

</div>

<div class="blurb">
<p>
  <strong>ТОП 5 СТРАН, ГДЕ ЖИТЬ КРУТО И ДЕШЕВО!</strong>
  Самые сказочные уголки нашей планеты зачастую оказываются дешевыми местами для жизни. В данном случае это
  эквивалент нескольких $ в день. Если такая сумма для вас приемлема, то несколько мест в Центральной Америке и
  Азии уже ждут вас!
</p>
</div>


</section>
