<section>
<h3 id="about-me">Обо мне</h3>

<div class="face-lockup">
 <div class="face-img"></div>
 <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
 <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
 <div class="icon-browser">{% include icons/icon-browser.html %}</div>
 <div class="icon-video">{% include icons/icon-video.html %}</div>

</div>

<div class="blurb">
<p>
  <strong>Красивые украшения всегда актуальны.</strong><br />
  Олег Малютин, ювелир, занимается ювелирным делом c 1996 года. Имеет специальное художественное образование.
</p>
</div>
<div class="skill-wrap">

<div class="skill-lockup">

 <div class="skill-unit">
  <div class="skill-label">Рисование эскизов</div>
  <div class="skill-icons skill-10">
      {% for i in (1..10) %}
    <span></span>
    {% endfor %}
  </div>
 </div>

</div>
<div class="skill-lockup">

 <div class="skill-unit">
  <div class="skill-label">Создание украшения<br /> по вашей идее</div>
  <div class="skill-icons skill-10">
    {% for i in (1..10) %}
  <span></span>
  {% endfor %}
  </div>
 </div>

</div><div class="skill-lockup">

 <div class="skill-unit">
  <div class="skill-label">Общение</div>
  <div class="skill-icons skill-9">
    {% for i in (1..10) %}
  <span></span>
  {% endfor %}
  </div>
 </div>

</div><div class="skill-lockup">

 <div class="skill-unit">
  <div class="skill-label">Обучение</div>
  <div class="skill-icons skill-8">
    {% for i in (1..10) %}
  <span></span>
  {% endfor %}
  </div>
 </div>
</div>


</section>
