<section class="section-clients">
  <h3 id="clients">Клиенты</h3>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>
  <div class="clients-belt">
    <div class="client-unit">
      <div class="client-face">
        <img src="../img/clients/128.jpg" alt="client-face" />
        <strong class="client-name">Елена Кузнецова</strong>
        <em class="client-title">менеджер</em>
      </div>
      <div class="client-content">
        <p>
          <strong>Ребята,всем привет.</strong> Нужно написать алгоритм который,реализующий метод градиетного
          спуска,для поиска минимальных значений функции двух переменных,по идее алгоритм
          правильный,но протабулировать функцию не получается,даже значения задал начальные
          для метода,но просто ниче не выводит,гугл не помог.Оператор вывода есть.
        </p>
      </div>
    </div>
  </div>

  <div class="clients-logos">
    <div class="client-logo active-client"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
  </div>

</section>
