<section class="alt-section section-work">
<h3 id="work">Работы</h3>

<div class="work-belt">

  <div class="thumb-wrap">
<div class="thumb-container">
  {% for project in site.data.settings.projects %}
   <div class="thumb-unit" style="background-image: url(../img/work/{{project.folder}}/thumb.jpg);">
     <div class="thumb-overlay">
       <strong>{{ project.name }}</strong>
     </div>
   </div>
  {% endfor %}
</div>
  </div>

<div class="work-wrap">
<div class="work-container">
  <div class="work-return">
    {% include icons/icon-back.html %}
  </div>
  <h4>Do work</h4>
  <div style="width: 600px; height: 500px; background: #ccc;">
    <p>
      If there are no Windows 10 audio drivers available yet from the website
      of your computer, motherboard or device manufacturer, try these solutions in the following order.
    </p>
  </div>
  <div style="width: 600px; height: 500px; background: #ccc;">
    <p>
      If there are no Windows 10 audio drivers available yet from the website
      of your computer, motherboard or device manufacturer, try these solutions in the following order.
    </p>
  </div>
  <div style="width: 600px; height: 500px; background: #ccc;">
    <p>
      If there are no Windows 10 audio drivers available yet from the website
      of your computer, motherboard or device manufacturer, try these solutions in the following order.
    </p>
  </div>

</div>
</div>

</div>
</section>
